html,
body,
#root {
  // min-height: 100%;
  width: 100%;
  // height: 100%;
}

#root {
  width: 100%;
  background-image: url('./assets/movie-background-collage.jpg');
  text-align: center;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-text-xl);
}

h2 {
  color: var(--color-text-xl);
}

a {
  text-decoration: none;
  color: var(--color-text-xl);
  transition: 0.25s;

  @media (hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }
}

ul {
  list-style: none;
}

textarea {
  max-height: none;
}

@media (max-width: 750px) {
  th, td {
    padding: 0 !important;
  }
}
@media (max-width: 1250px) and (min-width: 950px) {
  a, button {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

.active {
  color: rgb(255, 132, 0)
}

.btn-delete{
  width: 1rem;
  height: 1rem;
  background: url('./assets/x.svg') no-repeat center center;
}

.card{
  border: 1px solid black;
}

#react-burger-menu-btn{
  width: 10% !important;
  left: 87% !important;
}