.createContainer {
    background: linear-gradient(90deg, #90cff9, #b3dbd3, #fcd7dc);
    min-height: 100%;
    // height: 100%;
}

.createForm{
    border: black solid 2px;
    background: linear-gradient(90deg, #ddd9fd, #d7d7d7);
    height: 100%;
}